html{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    font-size: 1rem;

    /* Para no seleccionar texto*/
    -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /*Chrome*/
}

body{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%,0);
}

h1, h3{
    text-align: center;
    margin: 0;
}

h1{color: #2c3e50;}

h3{
    color: #1abc9c;
    margin-bottom: 50px;
    font-size: .9em;
}

#Tablero{
    height: 300px;
    margin: auto;
    width: 300px;
}

td{
    cursor: pointer;
    height: 100px;
    width: 100px;
    padding: 0;
    font-size: 3rem;
    text-align: center;
    font-family: system-ui;
    font-weight: bold;
    transition: 300ms;
}

td:hover{
    background: #ecf0f1;
    transition: 300ms;
}

td:nth-of-type(2){
    border-left: 5px rgba(44, 62, 80,1.0) solid;
    border-right: 5px rgba(44, 62, 80,1.0) solid;
}

tr:nth-of-type(2) td{
    border-top: 5px rgba(44, 62, 80,1.0) solid;
    border-bottom: 5px rgba(44, 62, 80,1.0) solid;
}

#Reset{
    cursor: pointer;
    background: white;
    color: rgba(26, 188, 156,1.0);
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid rgba(26, 188, 156,1.0);
    margin: 20px 0;
    height: 50px;
    width: 100%;
    outline: 0;
    box-shadow: 2px 2px 10px rgba(44, 62, 80,.5);
    transition: 400ms;
}
#Reset:hover{
    background: rgba(26, 188, 156,1.0);
    color: white;
    box-shadow: 0 0 10px rgba(44, 62, 80,.5);
    transition: 400ms;
}
#Reset:active{background: rgba(22, 160, 133,1.0);}

#Turno{
    font-size: 1.2rem;
    margin: 30px 0 0 0;
    text-align: center;
    color: #e74c3c;
}

@media only screen and (max-width: 500px) {
    #Tablero{
        width: 200px;
        height: 200px;
    }
    td{
        width: 66px;
        height: 66px;
    }
    h1{  font-size: 1.3em;}
    h3{font-size: .7em;}
    #Turno{font-size: 1em;}
    #Reset{
        font-size: 1em;
        height: 40px;
    }
}

#CambioVersion{
    color: #9b59b6;
    cursor: pointer;
    text-align: center;
    border: solid 1px #9b59b6;
    box-shadow: 2px 2px 10px rgba(44, 62, 80,.5);
    transition: 300ms;
}

#CambioVersion:hover{
    color: white;
    font-weight: bold;
    background: #9b59b6;
    box-shadow: 0 0 10px rgba(44, 62, 80,.5);
    transition: 300ms;
}

#Tablero{
    display: none;
}